// Font

$title-font: 'Antonio', sans-serif;
$italic-font: 'TeX Gyre Termes',serif;
$body-font: 'PT Sans Narrow', sans-serif;

// Size Media Queries

$fold: 280px;
$phone: 480px;
$tablet: 768px;
$tablet-custom: 850px;
$desktop: 1024px;

// Colors

$principal: #13162b;
$secondary: #3fb9be;
$txtDark: #3f4346;
$txtLight: #a0b2be;
$txtInput: #969fa6;
$borderInput: #1a1e3b;
$div: #f4f9fc;
$white: #ffffff;
$dark: #070811;

$gray: #8b9ba6;

// Division

$break: 5rem;

// Font size

$thin: 300;
$regular : 400;
$bold: 700;
$black: 900